.city {
    background-color: #800080;
    color: white;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   
  